.error-cell{
  /* ErrorCell */

  position: absolute;
  width: 350px;
  height: 52px;
  left: 0px;
  top: 52px;
}

.h2-high-emphasis{
  /* H2 High Emphasis */

  position: absolute;
  height: 20px;
  left: 112px;
  right: 112px;
  top: calc(50% - 20px/2);
}

.error-text{
  /* Failed to Load Data */

  position: absolute;
  left: -9.52%;
  right: -10.32%;
  top: 0%;
  bottom: 0%;

  /* Header */

  font-family: System;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0125em;

  /* Text/Emphasis */

  color: #EC5757;
}
