
.register-box{
  /* Register box */
  position: absolute;
  width: 350px;
  height: 100%;
  left: 0px;
  top: 52px;
  background: #FFFFFF;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.15);
}

.my-button{
  width: 350px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.15);
}
